$wrap: 'main-view';

%header{
  text-align: left;
}

%controls-section{
  display: flex;
  justify-content: space-around;
}

.#{$wrap} {
  display: grid;
  height: auto;
  width: auto;
  justify-content: center;
  &__header {
    @extend %header
  }

  &__controls-section {
    @extend %controls-section
  }
}

