<div class="main-view">
  <div class="main-view__header">
    <h2>Listado de personajes</h2>

  </div>
  <div class="main-view__controls-section">
    <input type="text" class="main-view__search" placeholder="&#xF002; &nbsp;Buscar" >
    <button class="main-view__button">
      <i class="fa-solid fa-plus "></i>
      Nuevo</button>
  </div>
  <div class="main-view__form">
    <app-character-form></app-character-form>
  </div>
  <div class="main-view__character-list">
    <app-character-list></app-character-list>
  </div>
</div>
