$wrap: 'main-view';

%header{
  text-align: left;
}

%controls-section{
  display: flex;
  justify-content: space-around;
}

%search {
  height: 24px;
  width: -webkit-fill-available;
  margin-right: 16px;
  font-family: Arial, FontAwesome, serif
}

%button {
  width: 55%;
  background-color: #f12e2e;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  color: white;
}

%character-list {
  max-width: 100%;
}

%form {
  width: auto;
}

.#{$wrap} {
  display: block;
  height: auto;
  width: auto;
  justify-content: center;
  &__header {
    @extend %header
  }

  &__controls-section {
    @extend %controls-section
  }

  &__search {
    @extend %search
  }

  &__button {
    @extend %button
  }

  &__character-list {
    @extend %character-list
  }

  &__form {
    @extend %form
  }
}

