<div class="character-form">
  <div class="character-form__title-section">
    <h2 class="character-form__title">
      Nuevo Personaje
    </h2>
  </div>
  <div>
    <form [formGroup]="characterRegisterForm" (ngSubmit)="!editMode ? createCharacter() : editCharacter()" class="character-form__form">
      <div class="character-form__input-container">
        <label>Nombre:</label>
        <br>
        <input [value]="title" formControlName="title" class="character-form__input" placeholder="Nombre">
        <br>
        <label>Descripción:</label>
        <br>
        <textarea [value]="body" formControlName="body" class="character-form__input" placeholder="Descripción"></textarea>
        <br>
        <label>Imagen:</label>
        <br>
        <input [value]="image" formControlName="image" class="character-form__input" placeholder="URL">
      </div>
      <div class="character-form__button-section">
        <button [disabled]="!characterRegisterForm.valid" type="submit" class="character-form__button me-2">
          <i class="fa-solid fa-floppy-disk"></i>
          Guardar</button>
        <button (click)="closeCharacterForm()" class="character-form__button ms-2">
          <i class="fa-solid fa-xmark"></i>
          Cancelar</button>
      </div>
    </form>
  </div>
</div>
