<div *ngIf="show" class="character">
  <div class="character__image" [ngStyle]="{ 'background-image': 'url(' + character?.image + ')'}" >
  </div>
  <div class="character__name">
    <p>
      {{character?.title}}
    </p>
  </div>
  <div class="character__button-section">
    <button class="character__button me-2" (click)="editCharacter()"><i class="fa-solid fa-pen"></i></button>
    <button class="character__button" (click)="deleteCharacter()"><i class="fa-solid fa-trash"></i></button>
  </div>
</div>
