<div class="character-form">
  <div class="character-form__title">
    <h1>
      Nuevo Personaje
    </h1>
  </div>
  <div>
    <form class="character-form__form">
      <div class="character-form__input-container">
        <label>Nombre:</label>
        <br>
        <input class="character-form__input">
        <br>
        <label>Descripción:</label>
        <br>
        <input class="character-form__input" placeholder="Descripción">
        <br>
        <label>Imagen:</label>
        <br>
        <input class="character-form__input" placeholder="URL">
      </div>
      <div class="character-form__button-section">
        <button>Guardar</button>
        <button>Cancelar</button>
      </div>
    </form>
  </div>
</div>
