$wrap: 'character-form';

%title-section {
  text-align: center;
  margin-top: 16px;

}

%title {
  padding-top: 16px;
}


%form {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

%button-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

%button {
  background-color: #f12e2e;
  width:  -webkit-fill-available;
  font-size: 16px;
  border-radius: 4px;
  height: 36px;
  border: none;
  color: white;
}

%input-container {
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  min-height: 1px;


}

%input {
  width: -webkit-fill-available;
  height: 24px;
  margin-bottom: 24px;
}




.#{$wrap} {
  height: auto;
  width: auto;
  justify-content: center;
  background: white;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 12px;
  margin-bottom: 24px;
  margin-top: 24px;
  border: 1px solid #d3d3d3;

  &__title-section {
    @extend %title-section
  }

  &__form {
    @extend %form
  }

  &__button-section {
    @extend %button-section
  }

  &__input-container {
    @extend %input-container
  }

  &__input {
    @extend %input
  }

  &__title {
    @extend %title
  }

  &__button {
    @extend %button
  }
}

.me-4 {
  margin-right: 24px;
}
