<div class="character-form">
  <div class="character-form__title-section">
    <h2 class="character-form__title">
      Nuevo Personaje
    </h2>
  </div>
  <div>
    <form class="character-form__form">
      <div class="character-form__input-container">
        <label>Nombre:</label>
        <br>
        <input class="character-form__input" placeholder="Nombre">
        <br>
        <label>Descripción:</label>
        <br>
        <textarea class="character-form__input" placeholder="Descripción"></textarea>
        <br>
        <label>Imagen:</label>
        <br>
        <input class="character-form__input" placeholder="URL">
      </div>
      <div class="character-form__button-section">
        <button class="character-form__button me-4">
          <i class="fa-solid fa-floppy-disk"></i>
          Guardar</button>
        <button class="character-form__button">
          <i class="fa-solid fa-xmark"></i>
          Cancelar</button>
      </div>
    </form>
  </div>
</div>
